<section id="redes" class="contacto column justify-content-center">
    <h2 name="contacto" class="text-center text-decoration-underline mb-3 col-12">Contacto</h2>
    <div class="row justify-content-center mx-0 text-center">
        <a class="col-1 nav-link text-primary" href="https://github.com/Blackpachamame"><i
                class="bi bi-github display-6"></i></a>
        <a class="col-1 nav-link text-primary" href="#"><i class="bi bi-linkedin display-6"></i></a>
        <a class="col-1 nav-link text-primary" href="#"><i class="bi bi-envelope display-6"></i></a>
    </div>
</section>